/* fonts */

@font-face {
  font-family: "customfont";
  src: url(Hind/Hind-Medium.ttf) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "customfont-two";
  src: url(Rowdies/Rowdies-Light.ttf) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "customfont-three";
  src: url(Indie_Flower/IndieFlower-Regular.ttf) format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "customfont", sans-serif;
}

header nav ul {
  background-color: rgba(220, 221, 219, 0);
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
  margin: 0;
  padding: 4%;
  text-align: center;
  z-index: 3;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "customfont-two";
  font-size: 1em;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
}

footer li {
  margin-left: 6%;
}

footer ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* background */

.body-background {
  background-size: cover;
  background-repeat: no-repeat;
}

.body-background-home {
  background-image: url("images/backgrounduno.jpg");
}

.body-background-freitag {
  background-image: url("images/backgrounddos.jpg");
}

.body-background-practices {
  background-image: url("images/backgroundtres.jpg");
}

.body-background-producten {
  background-image: url("images/backgroundquatro.jpg");
}

/* index.html */

.logo-image-index {
  width: 80%;
  height: auto;
  margin: 5%;
}

.text-block-index-left {
  background: #eceeec00;
  padding: 5%;
  position: relative;
  top: 9em;
  left: 1em;
  text-align: center;
  width: 70%;
  font-size: 75%;
}

.text-block-index-left h2 {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 11.1em;
  left: 3.3em;
  font-size: 2.5em;
  font-family: "customfont-three";
}

.overons-banner-image {
  width: 60%;
  height: auto;
  margin: 5%;
  position: relative;
  top: 1.9em;
  left: 0.8em;
}

.text-block-index-right {
  background: #eceeec00;
  position: relative;
  top: 9em;
  left: 7.5em;
  text-align: center;
  width: 70%;
  font-size: 75%;
  z-index: 3;
}

.voordelen-banner-image {
  width: 80%;
  height: auto;
  margin: 4.8%;
  position: relative;
  top: 0.3em;
  left: 0.6em;
}

.text-block-index-right h2 {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 6.2em;
  left: 2.4em;
  font-size: 2.5em;
  font-family: "customfont-three";
}

.text-block-index-right ul {
  top: 22.3em;
  text-align: left;
  position: absolute;
}

.text-block-index-right ul li {
  margin-bottom: 0.6em;
}

.wistje-banner-image {
  width: 138%;
  height: auto;
  margin: 4.7%;
  position: relative;
  top: 1.2em;
  left: -3em;
}

.text-block-index-middel {
  background: #eceeec00;
  position: relative;
  top: 36.6em;
  left: 7.9em;
  text-align: center;
  width: 45%;
  font-size: 75%;
}

.text-block-index-middel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-block-index-middel ul li {
  margin-bottom: 7%;
}

.text-block-index-middel h2 {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0.4em;
  left: -0.6em;
  font-size: 2.5em;
  width: 130%;
  font-family: "customfont-three";
}

/* freitag.html */

.text-block-freitag-left {
  background: #eceeec00;
  position: relative;
  top: 9em;
  left: 3em;
  text-align: center;
  width: 70%;
  font-size: 75%;
  text-align: left;
}

.freitag-logo-image {
  width: 17em;
  height: auto;
  margin: 3%;
  position: relative;
  top: 9.7em;
  left: 0.8em;
}

.store-image {
  width: 19em;
  height: auto;
  margin: 0.6em;
  position: relative;
  top: 8.5em;
  left: -0.3em;
}

.text-block-freitag-adress {
  background: #eceeec00;
  position: relative;
  top: 9em;
  left: -1em;
  text-align: center;
  width: 70%;
  font-size: 85%;
  z-index: 3;
}

.text-block-freitag-right {
  background: #eceeec00;
  position: relative;
  top: 17.2em;
  left: 8em;
  text-align: center;
  width: 70%;
  font-size: 75%;
  text-align: left;
}

.text-block-freitag-right p:first-child {
  margin-bottom: 110%;
}

.flag-image {
  width: 100%;
  height: auto;
  margin: 1em;
  position: absolute;
  top: 17.8em;
  left: -2em;
}

.missie-visie-banner-image {
  width: 100%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 14em;
}

.text-block-freitag-middel {
  background: #eceeec00;
  position: relative;
  top: -13em;
  left: 1.8em;
  text-align: center;
  width: 88%;
  font-size: 75%;
  color: rgb(255, 255, 255);
}

.text-block-freitag-middel h2:first-child {
  position: absolute;
  top: -2.2em;
  left: 4em;
  font-size: 2.5em;
  font-family: "customfont-three";
}

.text-block-freitag-middel h2:nth-child(2) {
  position: absolute;
  top: 4.9em;
  left: 4.5em;
  font-size: 2.5em;
  font-family: "customfont-three";
}

.text-block-freitag-middel p {
  margin-bottom: 8em; /* Adjust the value to control the gap between paragraphs */
}

/* praktijken.html */

.duurzaamheidspraktijken-banner-praktijken-image {
  width: 80%;
  height: auto;
  margin: 1em;
  position: relative;
  top: 1.9em;
}

.text-block-praktijken-right {
  background: #eceeec00;
  position: relative;
  top: 3.6em;
  left: 4em;
  text-align: center;
  width: 80%;
  font-size: 70%;
  color: rgb(0, 0, 0);
}

.text-block-praktijken-right h2 {
  background: #ffffff00;
  position: absolute;
  top: 1.4em;
  left: 1.4em;
  text-align: center;
  width: 80%;
  font-size: 2em;
  font-family: "customfont-three";
  color: #f0f0f0;
}

.vrachtwagen-image {
  width: 9.2em;
  height: auto;
  position: absolute;
  top: 43em;
  left: 2em;
}

.gordel-image {
  width: 9em;
  height: auto;
  position: absolute;
  top: 39em;
  left: 12.5em;
}

.fiets-image {
  width: 6.5em;
  height: auto;
  position: absolute;
  top: 51.7em;
  left: 3.6em;
}

.airbag-image {
  width: 9em;
  height: auto;
  position: absolute;
  top: 53em;
  left: 12.4em;
}

.duurzaamheidinbeeld-banner-praktijken-image {
  width: 47%;
  height: auto;
  position: relative;
  top: 28.8em;
  left: 3em;
}

.afval-image {
  width: 110%;
  height: auto;
  position: relative;
  top: -1em;
  left: 1em;
}

.text-block-praktijken-links {
  background: #eceeec00;
  position: relative;
  top: 41em;
  left: 2em;
  text-align: center;
  width: 69%;
  font-size: 70%;
  color: rgb(0, 0, 0);
}

.text-block-praktijken-links h2 {
  background: #ffffff00;
  position: absolute;
  top: -4.5em;
  left: 2.3em;
  text-align: center;
  width: 60%;
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  font-family: "customfont-three";
}

table.my-table {
  table-layout: fixed;
  width: 96.5% !important; /* Adjust the percentage to make the table narrower */
  border-collapse: collapse;
  margin-top: 30em;
  margin-left: 1.3em;
  font-family: "customfont-three";
}

.my-table th,
.my-table td {
  border: 1px solid #000;
  padding: 0.5em;
  text-align: center;
  font-size: 90%;
  font-family: "customfont-three";
}

.my-table th {
  background-color: #f0f0f0;
}

/* Add blue background to cells on the left side (associated with "Freitag") */
.my-table td:nth-child(odd) {
  background-color: blue; /* Change this to your preferred shade of blue */
  color: white; /* Change text color to ensure visibility on blue background */
}

/* producten.html */

.text-block-producten-middel h1 {
  background: #ffffff00;
  position: absolute;
  top: -9.8em;
  left: 0.8em;
  text-align: center;
  width: 60%;
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  font-family: "customfont-three";
}

.producten-banner-image {
  width: 10em;
  height: auto;
  position: relative;
  top: 4.8em;
  left: 5em;
}

.saddlebag-image {
  width: 7.5em;
  height: auto;
  border-radius: 3%;
  position: relative;
  top: 6em;
  left: 1.8em;
}

.red-bag-image {
  width: 7em;
  height: auto;
  border-radius: 3%;
  position: absolute;
  top: 17em;
  left: 11.4em;
}

.toilet-bag-image {
  width: 11em;
  height: auto;
  border-radius: 3%;
  position: absolute;
  top: 27.8em;
  left: 2.1em;
}

.grey-bag-image {
  width: 4.3em;
  height: auto;
  border-radius: 3%;
  position: relative;
  top: 14.2em;
  left: 6.3em;
}

.bag-display-image {
  width: 17em;
  height: auto;
  border-radius: 3%;
  position: relative;
  top: 15.6em;
  left: 1.4em;
}

.yellow-bag-image {
  width: 11em;
  height: auto;
  border-radius: 3%;
  position: relative;
  top: 17em;
  left: 2.5em;
}

.red-wallet-image {
  width: 7em;
  height: auto;
  border-radius: 10px;
  position: relative;
  top: 17.5em;
  left: 4.2em;
}

.mijn-recensie-banner-image {
  width: 12em;
  height: auto;
  position: relative;
  top: 18em;
  left: 5.8em;
}

.text-block-producten-middel {
  background: #eceeec00;
  position: relative;
  top: 24em;
  left: 5em;
  text-align: center;
  width: 70%;
  font-size: 75%;
  color: rgb(0, 0, 0);
}

.text-block-producten-middel h2 {
  background: #ffffff00;
  position: absolute;
  top: -4.4em;
  left: 1.7em;
  text-align: center;
  width: 60%;
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  font-family: "customfont-three";
}

/* footer */

.text-block-footer-index,
.text-block-footer-freitag,
.text-block-footer-praktijken,
.text-block-footer-procensies {
  background: #05bb0500;
  position: relative;
  left: 2em;
  text-align: center;
  width: 75%;
  font-size: 90%;
  color: rgb(0, 0, 0);
  z-index: 2;
}

.text-block-footer-index {
  top: 60em;
}

.text-block-footer-freitag {
  top: 14em;
}

.text-block-footer-praktijken {
  top: 14em;
}

.text-block-footer-procensies {
  top: 52em;
}

/* green leaves */

.green-image-one,
.green-image-two,
.green-image-three,
.green-image-four {
  width: 375px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  position: absolute;
  left: -10px;
  z-index: 1;
}

.green-image-one {
  top: -10px;
}

.green-image-two {
  top: -10px;
}

.green-image-three {
  top: -10px;
}

.green-image-four {
  top: 75px;
}
